.Operation {
  fill: #eeeeee;
  stroke-width: 2;
  stroke: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.OperationActive {
  fill: wheat;
  stroke: #aaa;
  animation-name: example;
  animation-duration: 4s;
}

.OperationComputing {
  fill: rgba(246, 226, 187, 1);
  animation-name: computing;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes computing {
  0% {
    fill: #eeeeee;
  }
  50% {
    fill: rgba(246, 226, 187, 1);
  }
  100% {
    fill: #eeeeee;
  }
}

.OperationText {
  font-family: Sans-serif;
  font-size: 30px;
  font-weight: 700;
  pointer-events: none;
}
