.Operation {
  fill: #eeeeee;
  stroke-width: 2;
  stroke: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.OperationActive {
  fill: wheat;
  stroke: #aaa;
}

.OperationText {
  font-family: Sans-serif;
  font-size: 30px;
  font-weight: 700;
  pointer-events: none;
}
