.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Toolbar {
  background-color: #222;
  padding: 20px;
  color: white;
}

h1.Title {
  font-size: 15px;
}

h2.Title {
  text-align: left;
  font-size: 13px;
}

.Operations {
  display: flex;
}

.Operations button {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border-width: 2px;
  font-size: 23px;
  font-weight: 500;
}

.Operations .Block {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.Wrapper {
  display: flex;
  padding: 10px;
  flex: 1 1 auto;
}
