.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Toolbar {
  background-color: #222;
  padding: 20px;
  color: white;
}

h1.Title {
  font-size: 15px;
}

h2.Title {
  font-size: 13px;
}

.Operations button {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border-width: 2px;
  font-size: 23px;
  font-weight: 500;
}

.Wrapper {
  display: flex;
  padding: 10px;
  flex: 1 1 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
