.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Toolbar {
  background-color: #222;
  padding: 20px;
  color: white;
}

.Title {
  font-size: 1.5em;
}

.Wrapper {
  display: flex;
  padding: 10px;
  flex: 1 1 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
